[defaults]
inventory              = inventories/prod-01/hosts.yml
roles_path             = roles
collections_path       = collections
host_key_checking      = True
retry_files_enabled    = False
stdout_callback        = yaml
callbacks_enabled      = profile_tasks
interpreter_python     = auto_silent
forks                  = 20
timeout                = 30
display_skipped_hosts  = False
gathering               = smart
fact_caching            = jsonfile
fact_caching_connection = .ansible_facts
fact_caching_timeout    = 3600

# Пути к секретам не хранятся в репозитории.
# vault_password_file = ~/.ansible/vault-pass-k8s

[inventory]
unparsed_is_failed = True

[privilege_escalation]
become        = True
become_method = sudo
become_user   = root

[ssh_connection]
pipelining = True
ssh_args   = -o ControlMaster=auto -o ControlPersist=300s -o PreferredAuthentications=publickey
