# {{ ansible_managed }}
{% for server in ntp_servers %}
server {{ server }} iburst
{% endfor %}

driftfile /var/lib/chrony/chrony.drift
makestep 1.0 3
rtcsync

keyfile /etc/chrony/chrony.keys
logdir /var/log/chrony

# Узел не раздаёт время
port 0
cmdport 323
