# {{ ansible_managed }}
export HTTP_PROXY="{{ os_http_proxy }}"
export HTTPS_PROXY="{{ os_https_proxy }}"
export NO_PROXY="{{ os_no_proxy }}"
export http_proxy="{{ os_http_proxy }}"
export https_proxy="{{ os_https_proxy }}"
export no_proxy="{{ os_no_proxy }}"
